.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: 30px;
}

.title {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}

.title h1{
  font-size: 24px;
  font-weight: normal;
}

.firstSection {
  /* border: 1px solid brown; */
  display: flex;
  margin-bottom: 10px;
}

.firstSectionInputs {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.firstSectionImgContainer {
  /* border: 1px solid palevioletred; */
  display: flex;
}

.image {
  /* border: 1px solid gold; */
  width: 100px;
  height: 100%;
  border: 1px solid #ccc;
}

.pictureOptions {
  /* border: 1px solid aqua; */
  font-size: 15px !important;
}

.labelContainer {
  /* border: 1px solid greenyellow;   */
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: .2s;
}

.pictureOptions label {
  cursor: pointer;
  transition: .3s;
  font-size: 15px !important;
}

.pictureOptions label:hover {
  opacity: .7;
}

#imgUplaod {
  display: none;
}

.secondSection {
  margin-bottom: 10px;
}

.secondSectionInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thirdSectionInputGroup {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rebeccapurple; */
}

.stepButtons {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 30px;
}

.experienceItem, .courseItem {
  cursor: pointer;
  transition: .3s;
}

.experienceItem:hover, .courseItem:hover {
  opacity: .7;
  color: #F44336;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 15px !important;
}